/* http://colorpalettes.net/color-palette-2093/ */
.root-pane {
    -fx-background-color: #e5efac;
}

.button {
    -fx-background-color: #f8002f;
    -fx-text-fill: #000c14;
}

.summary-label {
    -fx-padding: 8px;
    -fx-wrap-text: true;
}

.title-label {
    -fx-alignment: center;
    -fx-font-size: 30px;
}